@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: rgba(255, 153, 27, 1);
}

html {
    scroll-behavior: smooth;
}

main {
    font-family: "Open Sans";
}

h1,
h2 {
    font-family: "Oswald";
    font-weight: 500;
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spinColor {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

@layer base {
  :root {
        --radius: 0.5rem;
    }
}
